
/* Theme Colors */
:root {
  --accent-color: rgba(241, 228, 225, 1);
  --accent-dim-color: #E5D8D5;
  --accent-lighted-color: rgba(241, 228, 225, 0.5);
  --accent-lit-color: #F6ECEA;
  --dark-grey-color: #737373;
  --dark-color: #040404;
  --grey-color: #A9A09E;
  --light-color: #fff;
  --primary-color: #EC6C5A;
  --primary-lighted-color: rgba(246, 236, 234, 0.9);
  --swiper-theme-color: #EC6C5A !important;
}


/* - Buttons Color Scheme
------------------------------------------------------------- */
.transparant {
  background-color: rgba(0,0,0,0);
  color: #040404;
}
.btn.btn-content {
  width: 200px;
  margin-bottom: 20px;
}

.btn.btn-new {
  background: rgb(37, 144, 187);
  width: 200px;
  margin-bottom: 20px;
  color: var(--light-color);
  border-style: solid black;
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(21, 9, 136);
}

.btn.btn-new:hover {
  background: var(--light-color);
  color: var(--dark-color);
}
.btn.btn-common {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-common:hover {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn.btn-accent {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.btn.btn-accent:hover {
  color: var(--light-color) !important;
  background-color: var(--primary-color);
}

.btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.btn.btn-light:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn.btn-primary {
  background: rgb(37, 144, 187);
  width: 200px;
  margin-bottom: 20px;
  color: var(--light-color);
  border-style: solid black;
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(21, 9, 136);
}

.btn.btn-primary:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}


/* - Billboard Style1
--------------------------------------------------------------*/
#billboard .banner-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 300px auto;
}

#billboard .banner-content h1 {
  font-size: 5.3em;
  line-height: 1.2;
}

@media only screen and (max-width: 1560px) {
  #billboard .banner-content {
    top: -130px;
  }
}

@media only screen and (max-width: 1300px) {
  #billboard img.banner-image {
    height: 700px;
    width: 100%;
    object-fit: cover;
  }
}

/*----- Billboard Style2
--------------------------------------------------------------*/
#billboard.style2 img.banner-image {
  width: 100%;
  height: 758px;
  object-fit: cover;
}

#billboard.style2 .banner-content {
  position: unset;
  margin: 193px auto;
}

#billboard.style2 .swiper-button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#billboard .swiper-button.swiper-arrow-prev {
  left: 60px;
}

#billboard .swiper-button.swiper-arrow-next {
  right: 60px;
}

#billboard .swiper-button.swiper-arrow-prev:after,
#billboard .swiper-button.swiper-arrow-next:after {
  content: "";
}

#billboard .swiper-button i.icon {
  font-family: "icomooon";
  font-size: 3em;
  color: var(--dark-grey-color);
}

#billboard .swiper-pagination1 {
  position: absolute;
  bottom: 220px;
  left: 60px;
  z-index: 2;
}

#billboard .swiper-pagination1 span.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

#billboard .swiper-pagination1 span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: var(--swiper-theme-color);
}

#deroulante {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: white;

}
/* Style des autres pages
------------------------------------*/


body{
  /* background-image: url("Artboard.png"); */
  background-image: url("base.png");
  background-size: cover;
     margin: 2px;
     padding: 2px;
     font-family:comic sans MS;
     color: white;
     font-family: comic sans ms;
}   

header {
  background-color: rgb(37, 144, 187);
  border-radius: 20px;
  margin-bottom: 10px;

}
#bouton-affiche-masquer-division {
  margin-left: 5px;
}
@media only screen and (max-width: 700px) {
  #bouton-affiche-masquer-division {
    margin-left: 0px;
    margin-top: 5px;
  }
}

.action-div {
  background-color: gray;
  margin-bottom: 20px;
  margin-left: 10PX;
  height: 50px;
  width: 600px;
  position: relative;
  width: 60%;
  left: 20%;
  color: var(--light-color);
  border-style: solid black;
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.action-button {
  background-color: gray;
  margin-bottom: 20px;
  height: 50px;
  margin-left: auto;
  float: right;
  color: var(--light-color);
  border-style: solid black;
  border-width: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}
.action-button:hover {
  background-color: white;
  margin-bottom: 20px;
  color: black;
}

.action-label {
  margin-top: 10px;
}

#deroulante {
  display: none;
  margin-left: 10px;
}

#recherche {
  display: none;
  color: #040404;
}

.text-black {
  color: black;
}

.table {
  color:  white;
}
td {
  color:  white;
}
#bouton-affiche-masquer-recherche
{
  float: right;
}
.button-div {
  position: relative;
  width: 100%;
  left: 0%;
  color: var(--light-color);
}


/* FENETRE MODAL
-------------------------------*/

.modal {
  display: none;
  position: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  color: black;
}

.modal-content{
  background-color: #fefefe;
  margin: 10%;
  padding: 20px;
  border: 1px solid #888;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.space-top {
  margin-top: 20px;
}

.table-stat thead th {
  color: #040404;
}

.table-stat tbody tr td {
  color: #040404;
}